html {
    margin: 0;
    font-size: 20px;
    background-color: #b0ff92ff;
    color: #713e5aff;
}

/* CSS HEX
--mindaro: #d6ff79ff;
--mint-green: #b0ff92ff;
--wisteria: #c69dd2ff;
--purple: #5f00baff;
--old-mauve: #713e5aff;
*/


header {
    text-align: center;
    background-color: #d6ff79ff;
    color: #713e5aff;
}

table {
    border-spacing: 15px 6px;
}

thead th {
    border-bottom: 2px dotted black;
}

td {
    border: 2px dashed #713e5aff;
    border-radius: 5px;
    background-color: #c69dd2ff;
    color: #5f00baff; 
}