html{
	font-size: 20px;
}
body{
	margin: 0 10%;
	background-color: cornsilk;
}
header{
	text-align: center;
	font-family: 'Caveat', cursive;
}
header h1{ font-size: 3rem;}
label{
	font-family: 'Roboto Slab', serif;
}
footer{
	text-align: right;
}

input[type=button]{
	border: none;
	color: blue;
	background-color: rgb(200, 200, 200);
}

#textInput{
	height: 1.5rem;
	width: 70%;
}

#addButton{
	height: 1.5rem;
	width: 50px;
}