html {
    font-size: 18px;
    font-family: 'Sawarabi Gothic', sans-serif;
}

body {
    margin: 0 9px;
    background-color: rgb(250, 165, 214);
}

header {
    text-align: center;
}

.center {
    text-align: center;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
}

.logo-link {
    display: inline-block;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.logo-link img {
    width: 100%;
    height: 100%;
}

.flexy {
    display: flex;
    column-gap: 0.25rem;
}

.personal-statement{
    display: inline-block;
    border: 0.5rem outset salmon;
    padding: 0.5rem;
    background-color: lightsalmon;
    min-width: 20rem;
}

.personal-statement h3{
    margin-top: 0.25rem;
    margin-bottom: 0.3rem;
}

.personal-statement p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

#dancing-icecream{
    display: inline;
}

#web-trouble:hover {
    background-color: black;
    color: red;
}