/*Hex# CDB4DB Color: light plum
  Hex# FFC8DD Color: light pink
  Hex# FFAFCC Color: pink
  Hex# BDE0FE Color: light blue
  Hex# A2D2FF Color: blue
*/


/*  Global Changes  
----------------------------*/
html {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
}

body {
    margin: 0;
    background-color: #CDB4DB;
}

section {
    margin: 0.25rem 0;
}

p{
    font-family: 'Domine', serif;
    line-height: 1.5;
}

section p{
    margin-bottom: 0.25rem;
}

section h2{
    margin-top: 0.25rem;
}

.page-wrapper{
    margin: 0 10%;
}

.center {
    text-align: center;
}

/*  Header
----------------------------*/
header{
    background-color: #BDE0FE;
}

header h1{
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 60px;
    margin-bottom: 0;
}

header h2{
    margin-top: 0;
    margin-bottom: 0;
}

/*  Personal Statement
----------------------------*/

.statement-box {
    display: flex;
    column-gap: 0.25rem;
}

.personal-statement{
    display: inline-block;
    padding: 0.5rem;
    background-color: #A2D2FF;
    min-width: 20rem;
}

.personal-statement h3{
    margin-top: 0.25rem;
    margin-bottom: 0.3rem;
    font-size: 2rem;
}

.personal-statement p {
    font-size: 1.5rem;
    margin-top: 0.5rem;
}

#dancing-icecream{ /*the gif*/
    display: inline;
    width: 50%;
}

/*  Biography
----------------------------*/
.biography{
    background-color: #FFAFCC;
    padding: 0px 1.5em;
}

/* projects
----------------------------*/
.projects{
    background-color: #FFC8DD;
}

/*  photos
----------------------------*/
.photos{
    background-color: whitesmoke;
}

/* education-and-certs
----------------------------*/
.education-and-certs{
    background-color: #BDE0FE;
}

/*  Contact me
----------------------------*/
.contact {
    background-color: #A2D2FF;
    padding: 0.5rem;
}
.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
}

.logo-link {
    display: inline-block;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.logo-link img {
    width: 100%;
    height: 100%;
}

/*  Footer 
----------------------------*/
footer h4{
    margin: 0.75rem 0 0.25rem;
}

footer h4 span{
    color: red;
}

footer h4 a:hover {
    background-color: black;
    color: red;
    border-radius: 4px;
}