/*  Global Changes  
----------------------------*/
html {
    font-size: 22px;
    font-family: 'Inconsolata', monospace;
}

body {
    margin: 0;
    background-color: rgb(215,215,215);
    text-align: center;
}

p{
    /*line-height: 1.5;*/
    margin: 0.5rem 2rem;
}

ul{
    text-align: left;
}

.page-wrapper{
    margin: 0 15%;
}

a:hover{
    text-decoration: none;
}

/*  Header
----------------------------*/
header{
    text-align: center;
	margin-top: 1rem;
    margin-bottom: 2rem;
    font-family: 'Cinzel', serif;
}

.headerLogoWrap{
    display: flex;
    align-items: center;
    justify-content: center;
}

#logo{
    height: 100px;
    width: 100px;
    display: inline-block;
    background-color: rgba(228, 142, 245, 0.3);
    border-radius: 45px;
    border-right: 0.25rem;
}

header h1{
    
    font-size: 3.3rem;
    margin-top: 0px;
    margin-bottom: 0;
    display: inline-block;
}

header h2{
    margin-top: 0;
    margin-bottom: 0;
}

.tab button{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
}

.tabcontent h3{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.25rem;
}

.tabcontent p{
    font-family: 'Inconsolata', monospace; 
}

figure img{
    width: 100%;
}

#quote{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
    text-align: center;
    color:rgb(66, 14, 77);
    background-color: rgba(212, 167, 248, 0.5);
    border-radius: 13px;
}

.contact-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
}

.logo-link {
    display: inline-block;
    height: 30px;
    width: 30px;
    overflow: hidden;
}

.logo-link img {
    width: 100%;
    height: 100%;
}

/*  Footer 
----------------------------*/
footer{
	position: absolute;
	bottom: 0px;
	right: 10px;
}

footer h6{
    margin: 0.75rem 0 0.25rem;
    text-align: right;
    font-weight: 400;
}

footer h6 span{
    color: red;
}

footer h6 a:hover {
    background-color: black;
    color: red;
    border-radius: 4px;
}


/*   Mobile Adjustments
-----------------------------*/
@media only screen and (max-width: 1232px){
    html{
        font-size: 20px;
    }
}

@media only screen and (max-width: 1079px){
    html{
        font-size: 16.5px;
    }
}

@media only screen and (max-width: 999px){
    html{
        font-size: 15px;
    }
    /*#dancing-icecream{
        display: none;
    }*/
    .page-wrapper{
        margin: 0 10%;
    }
}

@media only screen and (max-width: 659px){
    html{
        font-size: 13px;
    }
    .page-wrapper{
        margin: 0 auto;
    }
}

@media only screen and (max-width: 500px){
    .page-wrapper{
        margin: 0;
    }

    .tab{
        flex-direction: column;
    }

    .headerLogoWrap{
        flex-direction: column;
    }

    .tab button{
        padding: 10px 5px;
    }
}

@media only screen and (max-width: 290px){
    html{
        font-size: 12px;
    }
    header h1{
        font-size: 2rem;
    }
}